.container {
  max-width: 1160px;
  padding-left: 48px;
  padding-right: 48px;
}

.header-container {
  padding-left: 16px;
  padding-right: 16px;
}

.header-text {
  font-size: 2.4rem;
  font-weight: 900;
  margin-bottom: 0.5em;
  margin-top: 1.0rem;
}

.campaign-container {
  padding: 16px;
  display: flex;
  flex-direction: row;
}

.campaign-card {

}